

.modal-content{
    margin-top: 100px;
    width: 400px;
    text-align: center;
}

.modal_title{
    margin-top: 15px;
    margin-bottom: 20px;
}

.modal_input{
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    border:none;
    border:1px solid black;
}

.select_box{
    border: 1px solid black;
    width: 238px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 15px;
    border-radius: 5px;
}

.select{
    border: none;
    background-color:transparent;
    margin-left: 10px;
}

option{
    border: none;
}